@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --first-color: #FFFFFF;
  --second-color: #c8c3c3;
  --third-color: #a09b9b;
  --fourth-color: #6e6969;
}

.container {
  width: 80%;
  max-width: 1080px;
}

h1 {
  color: var(--first-color);
  font-size: 3em;
}

h2 {
  color: var(--first-color);
  font-size: 2em;
}

a {
  text-decoration: none;
}

button {
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}

input, select {
  background-color: var(--first-color);
}

option:checked {
  background-color: var(--second-color);
}